<div class="navbar-lewagon">

  <div class="website-title">
    <em>w</em>atch
  </div>

  <div class="menu-navbar">
    <div class="url-navbar"><%= link_to "My lists", lists_path %></div>
    <div class="button-navbar green-button"><%= link_to 'New bookmark', new_list_bookmark_path(@list) %></div>
  </div>

</div>

<div class="container margin-show">

<h1><%= @list.name %></h1>

<div class="bookmark-grid">

    <% @list.bookmarks.each do |bookmark|  %>
      <div class="bookmark-content card-bookmark">
        <div class="bookmark-poster">
          <img src="<%= bookmark.movie.poster_url %>" class="poster-img" >
        </div>

        <div class="bookmark-text">
          <div class="bookmark-info">
            <h2><%= bookmark.movie.title %></h2>
            <strong>Movie overview :</strong> <%= bookmark.movie.overview %><br><br>
            — <em><%= bookmark.comment %></em> <br>
          </div>

          <div class="delete-button-placeholder">
            <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-button" %>
          </div>
        </div>
      </div>
    <% end %>

</div>

</div>
